<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>[[${list}]]</h4>
    <h4>${list}</h4>
    <hr>
    <h4 th:text="${list}"></h4> <!-- 해당 리스트를 불러와서 text로 내보내주세요 -->
    <hr>
    <h2>반복문</h2>
    <ul>
        <li th:each="str : ${list}" th:text="${str}"></li> <!--각 list의 값을 str이라는 변수에 넣고 반복-->
    </ul>
    <hr>
    <ul>
        <th:block th:each="str: ${list}">
            <li>[[${str}]]</li>
        </th:block>
    </ul>
<hr>
    <h2>status 변수</h2>
    <h4>index</h4>

    <ul>
        <li th:each="str, status : ${list}">
            [[${status.index}]] -- [[${str}]]
        </li>
    </ul>
    <br>
    <h4>count</h4>
    <ul>
        <li th:each="str, status : ${list}">
            [[${status.count}]] -- [[${str}]]
        </li>
    </ul>
    <br>
    <h4>size</h4>
    <ul>
        <li th:each="str, status : ${list}">
            [[${status.size}]] -- [[${str}]]
        </li>
    </ul><br>
    <h4>first</h4>
    <ul>
        <li th:each="str, status : ${list}">
            [[${status.first}]] -- [[${str}]]
        </li>
    </ul><br>
    <h4>last</h4>
    <ul>
        <li th:each="str, status : ${list}">
            [[${status.last}]] -- [[${str}]]
        </li>
    </ul><br>
    <h4>odd</h4>
    <ul>
        <li th:each="str, status : ${list}">
            [[${status.odd}]] -- [[${str}]]
        </li>
    </ul><br>
    <h4>even</h4>
    <ul>
        <li th:each="str, status : ${list}">
            [[${status.even}]] -- [[${str}]]
        </li>
    </ul>
    <hr>
    <h2>제어문 - if / unless</h2>
    <ul>
        <li th:each="str, status : ${list}">
            <span th:if="${status.odd}">ODD -- [[${str}]]</span>
            <span th:unless="${status.odd}">EVEN -- [[${str}]]</span>
        </li>
    </ul>
<br>
    <h2>제어문 - 삼항 연산자</h2>
    <ul>
        <li th:each="str, status : ${list}">
            <span th:text="${status.odd} ? 'ODD -- '+${str} :'EVEN -- '+${str} "></span>
        </li>
    </ul>
<br>
    <h2>제어문 - switch / case</h2>
    <ul>
        <li th:each="str, status : ${list}">
            <th:block th:switch="${status.index %3}">
                <span th:case="0">0</span>
                <span th:case="1">1</span>
                <span th:case="2">2</span>
            </th:block>
        </li>
    </ul>
<hr>
    <a th:href="@{/hello(name='한글처리', age=16)}">GO TO /hello</a><br><br>
    <a th:href="@{/hello(types=${ {'AA', 'BB', 'CC'} }, age=16)}">GO TO /hello</a><br><br>
</body>
</html>